body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Helvetica;
    background-color: #000;
    //background-image: url(/img/ok.gif)
}

.job {
    position: relative;
    background: #555;
    margin-bottom: 20px;
}

.andon-CRITICAL, .andon-WARNING, .andon-NOTICE,
.andon-EXCEPTION, .andon-GREEN {
    height: 80px;
    color: #FFF;
    padding: 15px;
    font-size: 3em;
}

.andon-CRITICAL {
    //background: red;
    border-left: 20px solid red;
    border-right: 20px solid red;
}

.andon-WARNING {
    //background: orange;
    border-left: 20px solid orange;
    border-right: 20px solid orange;
}

.andon-NOTICE {
    //background: silver;
    border-left: 20px solid silver;
    border-right: 20px solid silver;
}

.andon-EXCEPTION {
    //background: #555;
    color: #CCC;
    border-left: 20px solid #555;
    border-right: 20px solid #555;
}

.andon-GREEN {
    //background: #00BB33;
    border-left: 20px solid #00BB33;
    border-right: 20px solid #00BB33;
}

div[class^='andon-'] {
    position: relative;
}

div.message {
    position: absolute;
}

div.date {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: .4em;
}
